<h2>Dziękujemy za zapis na newsletter!</h2>
<p>Aby potwierdzić swój adres e-mail, kliknij poniższy link:</p>
<p><a href="{{ url }}">Potwierdź subskrypcję</a></p>
<p>Pozdrawiamy,<br>Zespół book.d3vlab.org</p>